• Read all the problem statements, notes carefully and scrape the required data using any web scraping tool of
your choice.
• You have to handle commonly occurring EXCEPTIONS by using exception handling programing. To get
information about selenium Exceptions. You may visit following links:
1. https://selenium-python.readthedocs.io/api.html
2. https://www.guru99.com/exception-handling-selenium.html
3. https://stackoverflow.com/questions/38022658/selenium-python-handling-no-such-elementexception/38023345

In [1]:
import pandas as pd
import selenium
from bs4 import BeautifulSoup
import time
from selenium import webdriver
import requests
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
from selenium.common.exceptions import NoSuchElementException, StaleElementReferenceException
from selenium.webdriver.support.ui import WebDriverWait

1. Scrape the details of most viewed videos on YouTube from Wikipedia.
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos
You need to find following details:
A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [14]:
# first, connect to the webdriver
driver=webdriver.Chrome(r"chromedriver.exe")

# getting the webpage of mentioned url
url = 'https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos'
driver.get(url)

In [15]:
# creating empty list for scraping the data

Rank = []
Name = []
Artist = []
Date = []
Views = []

In [16]:
# scraping Rank of the videos
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[1]"):
        Rank.append(i.text)
except NoSuchElementException:
    Rank.append("-")
        
# Scraping Name of the videos
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[2]"):
        Name.append(i.text)
except NoSuchElementException:
    Name.append("-")
        
# Scraping Artist of the videos
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[3]"):
        Artist.append(i.text)
except NoSuchElementException:
    Artist.append("-")
        
# Scraping Upload_Date of the videos
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[5]"):
        Date.append(i.text)
except NoSuchElementException:
    Date.append("-")
        
# Scraping Views of the videos
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[4]"):
        Views.append(i.text)
except NoSuchElementException:
    Views.append("-")
        
# creating DataFrame for scraped data
Wiki = pd.DataFrame({})
Wiki['Rank'] = Rank
Wiki['Name'] = Name
Wiki['Artist'] = Artist
Wiki['Upload Date'] = Date
Wiki['Views (in Billions)'] = Views

# removing stray numbers from Name column
Wiki.Name = Wiki.Name.apply(lambda x:x[:-4].strip('"'))
Wiki

,Rank,Name,Artist,Upload Date,Views (in Billions)
0,1.,Baby Shark Dance,Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",12.85
1,2.,Despacito,Luis Fonsi,"January 12, 2017",8.16
2,3.,Johny Johny Yes Papa,LooLoo Kids,"October 8, 2016",6.70
3,4.,Bath Song,Cocomelon – Nursery Rhymes,"May 2, 2018",6.20
4,5.,Shape of You,Ed Sheeran,"January 30, 2017",6.00
5,6.,See You Again,Wiz Khalifa,"April 6, 2015",5.89
6,7.,Phonics Song with Two Words,ChuChu TV,"March 6, 2014",5.30
7,8.,Wheels on the Bus,Cocomelon – Nursery Rhymes,"May 24, 2018",5.24
8,9.,Uptown Funk,Mark Ronson,"November 19, 2014",4.92
9,10.,Learning Colors – Colorful Eggs on a Farm,Miroshka TV,"February 27, 2018",4.89
10,11.,Gangnam Style,Psy,"July 15, 2012",4.80
11,12.,Masha and the Bear – Recipe for Disaster,Get Movies,"January 31, 2012",4.55
12,13.,Dame Tu Cosita,El Chombo,"April 5, 2018",4.35
13,14.,Axel F,Crazy Frog,"June 16, 2009",3.91
14,15.,Sugar,Maroon 5,"January 14, 2015",3.87
15,16.,Roar,Katy Perry,"September 5, 2013",3.80
16,17.,Counting Stars,OneRepublic,"May 31, 2013",3.79
17,18.,Sorry,Justin Bieber,"October 22, 2015",3.66
18,19.,Baa Baa Black Sheep,Cocomelon – Nursery Rhymes,"June 25, 2018",3.64
19,20.,Thinking Out Loud,Ed Sheeran,"October 7, 2014",3.60
20,21.,Waka Waka (This Time for Africa),Shakira,"June 4, 2010",3.59
21,22.,Dark Horse,Katy Perry,"February 20, 2014",3.52
22,23.,Lakdi Ki Kathi,Jingle Toons,"June 14, 2018",3.48
23,24.,Faded,Alan Walker,"December 3, 2015",3.45
24,25.,Perfect,Ed Sheeran,"November 9, 2017",3.45
25,26.,Let Her Go,Passenger,"July 25, 2012",3.44
26,27.,Girls Like You,Maroon 5,"May 31, 2018",3.42
27,28.,Humpty the train on a fruits ride,Kiddiestv Hindi – Nursery Rhymes & Kids Songs,"January 26, 2018",3.41
28,29.,Lean On,Major Lazer,"March 22, 2015",3.38
29,30.,Bailando,Enrique Iglesias,"April 11, 2014",3.38

In [17]:
print(len(Rank),
len(Name),
len(Artist),
len(Date),
len(Views))

30 30 30 30 30

In [18]:
driver.close()

2. Scrape the details teamIndia’sinternationalfixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:
A) Match title (I.e. 1stODI)
B) Series
C) Place
D) Date
E) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [35]:
# connecting to the webdriver
driver=webdriver.Chrome(r"chromedriver.exe")

# getting the webpage of mentioned url
url=('https://www.bcci.tv/')
driver.get(url)

In [39]:
btn=driver.find_element(By.XPATH,"//a[@class='nav-link active']").click()



# creating empty lists for scraping the data
Match_Title = []
Series = []
Place = []
Date = []
Time = []

In [33]:
for i in driver.find_elements(By.XPATH,"//span[@class='matchOrderText ng-binding ng-scope']"):
    Match_Title.append(i.text)
    
for i in driver.find_elements(By.XPATH,"//div[@class='match-card-top']/h5"):
    Series.append(i.text)
    
for i in driver.find_elements(By.XPATH,"//div[@class='match-place ng-scope']"):
    Place.append(i.text)
        
for i in driver.find_elements(By.XPATH,"//div[@class='match-dates ng-binding']"):
    Date.append(i.text.replace('\n',' '))

date=[i.split(' ',3)[:3] for i in Date]
date=[' '.join(i) for i in date]
Time=[i.split(' ',3)[-1] for i in Date]

# creating data frame
fixture=pd.DataFrame({'Match Title': Match_Title,
                          "Series": Series,
                          "Place": Place,
                          "Date": date,
                          "Time": Time})
fixture

,Match Title,Series,Place,Date,Time
0,1st Test -,INDIA TOUR OF WEST INDIES 2023,"1st Test - Windsor Park, Dominica",12 JUL 2023,2023
1,2nd Test -,INDIA TOUR OF WEST INDIES 2023,"2nd Test - Queen's Park Oval, Trinidad",20 JUL 2023,2023
2,1st ODI -,INDIA TOUR OF WEST INDIES 2023,"1st ODI - Kensington Oval, Barbados",27 JUL 2023,2023
3,2nd ODI -,INDIA TOUR OF WEST INDIES 2023,"2nd ODI - Kensington Oval, Barbados",29 JUL 2023,2023
4,3rd ODI -,INDIA TOUR OF WEST INDIES 2023,"3rd ODI - Brian Lara Stadium, Trinidad",1 AUG 2023,2023
5,1st T20I -,INDIA TOUR OF WEST INDIES 2023,"1st T20I - Brian Lara Stadium, Trinidad",3 AUG 2023,2023
6,2nd T20I -,INDIA TOUR OF WEST INDIES 2023,"2nd T20I - National Stadium, Guyana",6 AUG 2023,2023
7,3rd T20I -,INDIA TOUR OF WEST INDIES 2023,"3rd T20I - National Stadium, Guyana",8 AUG 2023,2023

In [34]:
len(url)

20

In [40]:
driver.close()

3. Scrape the details of State-wise GDP ofIndia fromstatisticstime.com. 
Url = http://statisticstimes.com/
You have to find following details:
A) Rank
B) State
C) GSDP(18-19)- at current prices
D) GSDP(19-20)- at current prices
E) Share(18-19)
F) GDP($ billion)
Note: - From statisticstimes home page you have to reach to economy page through code.

In [6]:
# connecting to the web driver
driver=webdriver.Chrome(r"chromedriver.exe")

# getting the webpage of mentioned url
url = ("https://statisticstimes.com/")
driver.get(url)

In [7]:
# clicking on Economy button
driver.find_element(By.XPATH,"//div[@class='navbar']/div[2]/button").click()

# clicking on India
driver.find_element(By.XPATH,"//div[@class='dropdown-content']/a[3]").click()
time.sleep(3)

# clicking on GDP of Indian Economy
GDP = driver.find_element(By.XPATH,"/html/body/div[2]/div[2]/div[2]/ul/li[1]/a").click()
time.sleep(3)

In [8]:
# creating empty list
Rank = []
State = []
GSDP1 = []
GSDP2 = []
Share = []
GDP_billion = []

# scraping Rank
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='display dataTable']/tbody/tr/td[1]"):
        Rank.append(i.text)
except NoSuchElementException:
    Rank.append("_")
    
# scraping State
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='display dataTable']/tbody/tr/td[2]"):
        State.append(i.text)
except NoSuchElementException:
    State.append("_")
    
# scraping GSDP at current price (19-20)
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='display dataTable']/tbody/tr/td[3]"):
        GSDP1.append(i.text)
except NoSuchElementException:
    GSDP1.append("_")
    
# scraping GSDP at current price (18-19)
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='display dataTable']/tbody/tr/td[4]"):
        GSDP2.append(i.text)
except NoSuchElementException:
    GSDP2.append("_")
    
# scraping Share (18-19)
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='display dataTable']/tbody/tr/td[5]"):
        Share.append(i.text)
except NoSuchElementException:
    Share.append("_")
    
# scraping GDP $ billion
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='display dataTable']/tbody/tr/td[6]"):
        GDP_billion.append(i.text)
except NoSuchElementException:
    GDP_billion.append("_")
    
    
# creating DataFrame from the scraped data
GDP = pd.DataFrame({})
GDP['Rank'] = Rank
GDP['State'] = State
GDP['GSDP at current price (19-20)'] = GSDP1
GDP['GSDP at current price (18-19)'] = GSDP2
GDP['Share (18-19)'] = Share
GDP['GDP($ billion)'] = GDP_billion
GDP

,Rank,State,GSDP at current price (19-20),GSDP at current price (18-19),Share (18-19),GDP($ billion)
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
3,4,Gujarat,-,"1,502,899",7.96%,228.290
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
...,...,...,...,...,...,...
61,29,Sikkim,"28,391","25,141",0.15%,"17,060"
62,30,Nagaland,-,"24,534",0.15%,-
63,31,Arunachal Pradesh,-,"22,488",0.13%,-
64,32,Mizoram,"24,424","20,947",0.13%,"17,797"
65,33,Andaman & Nicobar Islands,-,-,-,-

In [9]:
driver.close()

4. Scrape the details of trending repositories on Github.com. 
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used
ASSIGNMENT
Note: - From the home page you have to click on the trending option from Explore menu through code

In [126]:
# connecting to the web driver
driver=webdriver.Chrome(r"chromedriver.exe")

# getting the webpage of mentioned url
url = ("https://github.com/")
driver.get(url)
driver.maximize_window()

In [127]:
#clicking on the signin option
signin=driver.find_element(By.XPATH,"//div[@class='position-relative mr-lg-3 d-lg-inline-block']").click()

In [128]:
#inserting email
email=driver.find_element(By.XPATH,"//input[@class='form-control input-block js-login-field']")
email.send_keys("rimyrim@gmail.com")
#inserting password
password=driver.find_element(By.XPATH,"//input[@class='form-control form-control input-block js-password-field']")
password.send_keys("GoodNewsAnu!!22qq")
#clicking on signin button
signin_btn=driver.find_element(By.XPATH,"//input[@class='btn btn-primary btn-block js-sign-in-button']").click()

In [130]:
#clicking on menu button
mnu_btn=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/header/div/div[1]/deferred-side-panel/include-fragment/button").click()

In [131]:
# getting explore button and clicking on it
explore = driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/header/div/div[1]/deferred-side-panel/div/modal-dialog/div[3]/nav/nav-list/ul/li[1]/a/span[2]").click()

In [132]:
# selecting trending option
trend_url = driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/main/div[2]/div/div/div[3]/div[1]/div[1]/h3/a")
urls = trend_url.get_attribute("href")
driver.get(urls)

In [133]:
# creating empty list
URLs = []
repository_title = []
Description = []
Contributors = []
Language = []
lang = []


# fetching urls for each repository
repository = driver.find_elements(By.XPATH,"//h2[@class='h3 lh-condensed']/a")
for i in repository:
    URLs.append(i.get_attribute("href"))
    
# scraping Repository title data
title = driver.find_elements(By.XPATH,"//h2[@class='h3 lh-condensed']")
for i in title:
    repository_title.append(i.text)
    
# scraping data from all repository page
for i in URLs:
    driver.get(i)
    time.sleep(5)     
# scraping Repository Description data 
    try:
        desc = driver.find_element(By.XPATH,"//p[@class='f4 my-3']")
        Description.append(desc.text)
    except NoSuchElementException:
        Description.append('-')
        
        
# scraping Contributors Count data
    try:
        contributor = driver.find_element(By.XPATH,"//ul[@class='list-style-none ']")
        Contributors.append(contributor.text.replace('Contributors',''))
    except NoSuchElementException:
        Contributors.append('-')
    
    
# scraping Languages used data
    try:
        for i in driver.find_elements(By.XPATH,"//a[@class='d-inline-flex flex-items-center flex-nowrap Link--secondary no-underline text-small mr-3']/span[1]"):
            lang.append(i.text)
        Language.append(lang)
    except NoSuchElementException:
        Language.append('-')
       
        
# Data Framing
Github = pd.DataFrame({})
Github['Repository URL'] = URLs
Github['Repository Title'] = repository_title
Github['Repository Description'] = Description
Github['Contributors Count'] = Contributors
Github['Language Used'] = Language
Github

,Repository URL,Repository Title,Repository Description,Contributors Count,Language Used
0,https://github.com/ChaoningZhang/MobileSAM,ChaoningZhang / MobileSAM,This is the offiicial code for Faster Segment ...,ChaoningZhang Chaoning Zhang\nqiaoyu1002 Yu Qiao,"[Jupyter Notebook, Python, JavaScript, CSS, HT..."
1,https://github.com/ramonvc/freegpt-webui,ramonvc / freegpt-webui,GPT 3.5/4 with a Chat Web UI. No API key requi...,ramonvc Ramon Victor Cardoso\ntiansztiansz\nel...,"[Jupyter Notebook, Python, JavaScript, CSS, HT..."
2,https://github.com/THUDM/ChatGLM2-6B,THUDM / ChatGLM2-6B,ChatGLM2-6B: An Open Bilingual Chat LLM | 开源双语...,-,"[Jupyter Notebook, Python, JavaScript, CSS, HT..."
3,https://github.com/PowerShell/PowerShell,PowerShell / PowerShell,PowerShell for every system!,-,"[Jupyter Notebook, Python, JavaScript, CSS, HT..."
4,https://github.com/XingangPan/DragGAN,XingangPan / DragGAN,Official Code for DragGAN (SIGGRAPH 2023),-,"[Jupyter Notebook, Python, JavaScript, CSS, HT..."
5,https://github.com/hiyouga/ChatGLM-Efficient-T...,hiyouga / ChatGLM-Efficient-Tuning,Fine-tuning ChatGLM-6B with PEFT | 基于 PEFT 的高效...,-,"[Jupyter Notebook, Python, JavaScript, CSS, HT..."
6,https://github.com/facebook/folly,facebook / folly,An open-source C++ library developed and used ...,-,"[Jupyter Notebook, Python, JavaScript, CSS, HT..."
7,https://github.com/THUDM/ChatGLM-6B,THUDM / ChatGLM-6B,ChatGLM-6B: An Open Bilingual Dialogue Languag...,-,"[Jupyter Notebook, Python, JavaScript, CSS, HT..."
8,https://github.com/practical-tutorials/project...,practical-tutorials / project-based-learning,Curated list of project-based tutorials,-,"[Jupyter Notebook, Python, JavaScript, CSS, HT..."
9,https://github.com/sohamkamani/javascript-desi...,sohamkamani / javascript-design-patterns-for-h...,An ultra-simplified explanation of design patt...,-,"[Jupyter Notebook, Python, JavaScript, CSS, HT..."
10,https://github.com/papers-we-love/papers-we-love,papers-we-love / papers-we-love,Papers from the computer science community to ...,-,"[Jupyter Notebook, Python, JavaScript, CSS, HT..."
11,https://github.com/cvg/LightGlue,cvg / LightGlue,LightGlue: Local Feature Matching at Light Speed,-,"[Jupyter Notebook, Python, JavaScript, CSS, HT..."
12,https://github.com/turboderp/exllama,turboderp / exllama,A more memory-efficient rewrite of the HF tran...,-,"[Jupyter Notebook, Python, JavaScript, CSS, HT..."
13,https://github.com/fuqiuluo/unidbg-fetch-qsign,fuqiuluo / unidbg-fetch-qsign,获取QQSign通过Unidbg,-,"[Jupyter Notebook, Python, JavaScript, CSS, HT..."
14,https://github.com/jasontaylordev/CleanArchite...,jasontaylordev / CleanArchitecture,Clean Architecture Solution Template for ASP.N...,-,"[Jupyter Notebook, Python, JavaScript, CSS, HT..."
15,https://github.com/toeverything/AFFiNE,toeverything / AFFiNE,There can be more than Notion and Miro. AFFiNE...,-,"[Jupyter Notebook, Python, JavaScript, CSS, HT..."
16,https://github.com/ripienaar/free-for-dev,ripienaar / free-for-dev,"A list of SaaS, PaaS and IaaS offerings that h...",-,"[Jupyter Notebook, Python, JavaScript, CSS, HT..."
17,https://github.com/EbookFoundation/free-progra...,EbookFoundation / free-programming-books,📚 Freely available programming books,-,"[Jupyter Notebook, Python, JavaScript, CSS, HT..."
18,https://github.com/chat2db/Chat2DB,chat2db / Chat2DB,🔥 🔥 🔥 An intelligent and versatile general-pur...,-,"[Jupyter Notebook, Python, JavaScript, CSS, HT..."
19,https://github.com/PlexPt/awesome-chatgpt-prom...,PlexPt / awesome-chatgpt-prompts-zh,ChatGPT 中文调教指南。各种场景使用指南。学习怎么让它听你的话。,-,"[Jupyter Notebook, Python, JavaScript, CSS, HT..."
20,https://github.com/labmlai/annotated_deep_lear...,labmlai / annotated_deep_learning_paper_implem...,🧑‍🏫 59 Implementations/tutorials of deep learn...,-,"[Jupyter Notebook, Python, JavaScript, CSS, HT..."
21,https://github.com/microsoft/Web-Dev-For-Begin...,microsoft / Web-Dev-For-Beginners,"24 Lessons, 12 Weeks, Get Started as a Web Dev...",-,"[Jupyter Notebook, Python, JavaScript, CSS, HT..."
22,https://github.com/dragonflydb/dragonfly,dragonflydb / dragonfly,A modern replacement for Redis and Memcached,-,"[Jupyter Notebook, Python, JavaScript, CSS, HT..."
23,https://github.com/wgwang/LLMs-In-China,wgwang / LLMs-In-China,中国大模型,-,"[Jupyter Notebook, Python, JavaScript, CSS, HT..."
24,https://github.com/StanGirard/quivr,StanGirard / quivr,🧠 Dump all your files and thoughts into your p...,-,"[Jupyter Notebook, Python, JavaScript, CSS, HT..."

5. Scrape the details of top 100 songs on billiboard.com. 
Url = https:/www.billboard.com/
You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board
Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [3]:
# connecting to the web driver
driver=webdriver.Chrome(r"chromedriver.exe")

# getting the webpage of mentioned url
url = ("https:/www.billboard.com/")
driver.get(url)
driver.maximize_window()

In [4]:
# clicking on charts option button
charts=driver.find_element(By.XPATH,"/html/body/div[3]/header/div/div[2]/div/div/div[2]/div[2]/div/div/nav/ul/li[1]/a").click()

In [5]:
#clicking on billboards hot 100 link
bllboards_hot_100=driver.find_element(By.XPATH,"/html/body/div[3]/main/div[2]/div[1]/div[1]/div/div/div[1]/div[1]/div[2]/span/a").click()

In [8]:
# creating empty lists
Song_Name = []
Artist_Name =[]
Last_week_rank = []
Peak_rank = []
Weeks_on_board = []


# scraping data of song names
for i in driver.find_elements(By.XPATH,"//li[@class='lrv-u-width-100p']/ul/li/h3"):
    Song_Name.append(i.text)
    
# scraping data of artist names

try:
    for i in driver.find_elements(By.XPATH,"//ul[@class='lrv-a-unstyle-list lrv-u-flex lrv-u-height-100p lrv-u-flex-direction-column@mobile-max']/li[1]/span"):
        Artist_Name.append(i.text)
except NoSuchElementException:
    Artist_Name.append("_")   
# scraping data of last week ranks
for i in driver.find_elements(By.XPATH,"//li[@class='lrv-u-width-100p']/ul/li[4]"):
    Last_week_rank.append(i.text)
    

# scraping data of peak ranks
for i in driver.find_elements(By.XPATH,"//li[@class='lrv-u-width-100p']/ul/li[5]"):
    Peak_rank.append(i.text)       
    
    
# scraping data of weeks on board
for i in driver.find_elements(By.XPATH,"//li[@class='lrv-u-width-100p']/ul/li[6]"):
    Weeks_on_board.append(i.text)
    
    
# creating dataframe for scraped data
billboard = pd.DataFrame({})
billboard['Name'] = Song_Name
billboard['Artist'] = Artist_Name
billboard['Last Week Rank'] = Last_week_rank
billboard['Peak Rank'] = Peak_rank
billboard['Weeks on board'] = Weeks_on_board
billboard

,Name,Artist,Last Week Rank,Peak Rank,Weeks on board
0,Last Night,Morgan Wallen,1,1,21
1,Fast Car,Luke Combs,3,2,13
2,Calm Down,Rema & Selena Gomez,4,3,42
3,Flowers,Miley Cyrus,2,1,23
4,All My Life,Lil Durk Featuring J. Cole,5,2,6
...,...,...,...,...,...
95,"Angel, Pt. 1","Kodak Black, NLE Choppa, Jimin, JVKE & Muni Long",-,65,2
96,Girl In Mine,Parmalee,-,97,1
97,Moonlight,Kali Uchis,90,80,11
98,Classy 101,Feid x Young Miko,-,99,1
99,Bluffin,Gucci Mane & Lil Baby,-,100,1

6. Scrape the details of Highest sellingnovels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare
You have to find the following details:
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [86]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

# send a request to the URL
url = "https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare"
response = requests.get(url)

# check if the request was successful
if response.status_code != 200:
    print("Failed to load page")
    exit()

# parse the HTML content using BeautifulSoup
soup = BeautifulSoup(response.content, "html.parser")

# find the table containing the required information
table = soup.find("table")

# check if the table was found
if table is None:
    print("Table not found")
    exit()

# create empty lists to store the data
book_names = []
author_names = []
volumes_sold = []
publishers = []
genres = []

# iterate over each row of the table and extract the data
for row in table.find_all("tr")[1:]:
    columns = row.find_all("td")
    if len(columns) != 6:
        print(f"Skipping row with invalid data: {columns}")
        continue
    book_names.append(columns[1].text)
    author_names.append(columns[2].text)
    volumes_sold.append(int(columns[3].text.replace(",", "")))
    publishers.append(columns[4].text)
    genres.append(columns[5].text)

# create a dataframe with the extracted data
df = pd.DataFrame({
    "Book Name": book_names,
    "Author Name": author_names,
    "Volumes Sold": volumes_sold,
    "Publisher": publishers,
    "Genre": genres
})

# display the dataframe
print(df)

Skipping row with invalid data: [<td colspan="6">
<div class="footer">
<div class="notes">
<p>SOURCE: <a href="//www.nielsenbookscan.co.uk/controller.php?page=48">NIELSEN BOOK SCAN</a></p>
</div>
</div> </td>]
                                            Book Name         Author Name  \
0                                  Da Vinci Code,The          Brown, Dan
1               Harry Potter and the Deathly Hallows       Rowling, J.K.
2           Harry Potter and the Philosopher's Stone       Rowling, J.K.
3          Harry Potter and the Order of the Phoenix       Rowling, J.K.
4                               Fifty Shades of Grey        James, E. L.
..                                                ...                 ...
95                                         Ghost,The      Harris, Robert
96                    Happy Days with the Naked Chef       Oliver, Jamie
97             Hunger Games,The:Hunger Games Trilogy    Collins, Suzanne
98   Lost Boy,The:A Foster Child's Search for the ...       Pelzer, Dave
99   Jamie's Ministry of Food:Anyone Can Learn to ...      Oliver, Jamie

    Volumes Sold          Publisher                          Genre
0        5094805        Transworld    Crime, Thriller & Adventure
1        4475152        Bloomsbury             Children's Fiction
2        4200654        Bloomsbury             Children's Fiction
3        4179479        Bloomsbury             Children's Fiction
4        3758936      Random House                Romance & Sagas
..           ...                ...                            ...
95        807311      Random House     General & Literary Fiction
96        794201           Penguin          Food & Drink: General
97        792187   Scholastic Ltd.            Young Adult Fiction
98        791507             Orion             Biography: General
99        791095           Penguin          Food & Drink: General

[100 rows x 5 columns]

7. Scrape the details most watched tv series of all time from imdb.com. 
Url = https://www.imdb.com/list/ls095964455/
You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [87]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

# send a request to the URL
url = "https://www.imdb.com/list/ls095964455/"
response = requests.get(url)

# parse the HTML content using BeautifulSoup
soup = BeautifulSoup(response.content, "html.parser")

# create empty lists to store the data
names = []
year_spans = []
genres = []
runtimes = []
ratings = []
votes = []

# find the container containing the required information
container = soup.find("div", {"class": "lister-list"})

# iterate over each TV series in the container and extract the data
for tv_series in container.find_all("div", {"class": "lister-item-content"}):
    # extract the name of the TV series
    name = tv_series.h3.a.text.strip()
    names.append(name)
    
    # extract the year span of the TV series
    year_span = tv_series.find("span", {"class": "lister-item-year"}).text.strip("()")
    year_spans.append(year_span)
    
    # extract the genre of the TV series
    genre = tv_series.find("span", {"class": "genre"}).text.strip()
    genres.append(genre)
    
    # extract the runtime of the TV series
    runtime = tv_series.find("span", {"class": "runtime"}).text.strip()
    runtimes.append(runtime)
    
    # extract the rating of the TV series
    rating = tv_series.find("div", {"class": "ipl-rating-star small"}).span.text.strip()
    ratings.append(rating)
    
    # extract the number of votes for the TV series
    vote = tv_series.find("span", {"name": "nv"}).text.strip()
    votes.append(vote)

# create a dataframe with the extracted data
df = pd.DataFrame({
    "Name": names,
    "Year Span": year_spans,
    "Genre": genres,
    "Runtime": runtimes,
    "Ratings": ratings,
    "Votes": votes
})

# display the dataframe
print(df)

                              Name  Year Span                     Genre  \
0                  Game of Thrones  2011–2019  Action, Adventure, Drama
1                  Stranger Things  2016–2024    Drama, Fantasy, Horror
2                 The Walking Dead  2010–2022   Drama, Horror, Thriller
3                   13 Reasons Why  2017–2020  Drama, Mystery, Thriller
4                          The 100  2014–2020    Drama, Mystery, Sci-Fi
..                             ...        ...                       ...
95                           Reign  2013–2017                     Drama
96  A Series of Unfortunate Events  2017–2019  Adventure, Comedy, Drama
97                  Criminal Minds     2005–      Crime, Drama, Mystery
98                          Scream  2015–2019      Comedy, Crime, Drama
99      The Haunting of Hill House       2018    Drama, Horror, Mystery

    Runtime Ratings      Votes
0    57 min          2,172,754
1    51 min          1,250,719
2    44 min          1,032,024
3    60 min            303,451
4    43 min            262,636
..      ...     ...        ...
95   42 min             51,936
96   50 min             63,974
97   42 min            208,473
98   45 min             43,380
99  572 min            259,991

[100 rows x 6 columns]

8. Details of Datasetsfrom UCI machine learning repositories. 
Url = https://archive.ics.uci.edu/
You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute
G) Year
Note: - from the home page you have to go to the ShowAllDataset page through code.

In [30]:
# connecting to the web driver
driver=webdriver.Chrome(r"chromedriver.exe")

# getting the webpage of mentioned url
url = (" https://archive.ics.uci.edu/")
driver.get(url)
driver.maximize_window()

In [31]:
# clicking view all dataset button from the webpage
viewall_dataset = driver.find_element(By.XPATH,"//a[@class='btn-primary btn']").click()

In [32]:
#clicking on expand all button
expand_all=driver.find_element(By.XPATH,"//span[@class='swap-on text-primary-content']").click()

In [12]:
# fetching urls for each dataset
dataset_url = driver.find_elements(By.XPATH,"//a[@class='link-hover link text-xl font-semibold']")

urls = []
for i in dataset_url:
    urls.append(i.get_attribute("href"))

In [34]:
# creating empty lists
Dataset_name = []
Data_type = []
Task = []
Attribute_type = []
No_of_instances = []
No_of_attributes = []
Year = []

for i in urls:
    driver.get(i)
    time.sleep(3)
    
    
    # scraping  Dataset name
    try:
        dataset_name = driver.find_element(By.XPATH,"//h1[@class='text-3xl font-semibold text-primary-content']")
        Dataset_name.append(dataset_name.text)
    except NoSuchElementException:
        Dataset_name.append('-')
    time.sleep(3)
    
    
    
    # scraping data type
    try:
        data_type = driver.find_element(By.XPATH,"/html/body/div/div[1]/div[1]/main/div/div[1]/div[1]/div[2]/div[2]/div[4]/p")
        if data_type.text == "N/A": raise NoSuchElementException
        Data_type.append(data_type.text)
    except NoSuchElementException:
        Data_type.append('-')
    time.sleep(3)
    
    
    # scraping Task
    try:
        task = driver.find_element(By.XPATH,"/html/body/div/div[1]/div[1]/main/div/div[1]/div[1]/div[2]/div[2]/div[3]/p")
        if task.text == "N/A": raise NoSuchElementException
        Task.append(task.text)
    except NoSuchElementException:
        Task.append('-')
    time.sleep(3)
    
    
    
    # scraping Attribute type
    try:
        attribute_type = driver.find_element(By.XPATH,"/html/body/div/div[1]/div[1]/main/div/div[1]/div[1]/div[2]/div[2]/div[4]/p")
        if attribute_type.text == "N/A": raise NoSuchElementException
        Attribute_type.append(attribute_type.text)
    except NoSuchElementException:
        Attribute_type.append('-')
    time.sleep(3)
    
    
    
    # scraping No of Instances
    try:
        instances = driver.find_element(By.XPATH,"/html/body/div/div[1]/div[1]/main/div/div[1]/div[1]/div[2]/div[2]/div[5]/p")
        if instances.text == "N/A": raise NoSuchElementException
        No_of_instances.append(instances.text)
    except NoSuchElementException:
        No_of_instances.append('-')
    time.sleep(3)
    
    
    
    # scraping No of Arrtibutes
    try:
        attribute = driver.find_element(By.XPATH,"/html/body/div/div[1]/div[1]/main/div/div[1]/div[1]/div[2]/div[2]/div[6]/p")
        if attribute.text == "N/A": raise NoSuchElementException
        No_of_attributes.append(attribute.text)
    except NoSuchElementException:
        No_of_attributes.append('-')
    time.sleep(3)
    
    
    # scraping Year
    try:
        year = driver.find_element(By.XPATH,"/html/body/div/div[1]/div[1]/main/div/div[1]/div[1]/div[1]/div[2]/h2")
        if year.text == "N/A": raise NoSuchElementException
        Year.append(year.text[:20])
    except NoSuchElementException:
        Year.append('-')
    time.sleep(3)
    # creating dataframe for scraped data
ML = pd.DataFrame({})
ML['Data Name'] = Dataset_name 
ML['Data Type '] = Data_type
ML['Task '] = Task 
ML['Attribute Type '] = Attribute_type 
ML['No of Instance '] = No_of_instances
ML['No of Attributes '] = No_of_attributes 
ML['Year '] = Year 
ML

,Data Name,Data Type,Task,Attribute Type,No of Instance,No of Attributes,Year
0,Iris,Real,Classification,Real,150,4,Donated on 6/30/1988
1,Heart Disease,"Categorical, Integer, Real",Classification,"Categorical, Integer, Real",303,13,Donated on 6/30/1988
2,Adult,"Categorical, Integer",Classification,"Categorical, Integer",48842,14,Donated on 4/30/1996
3,Dry Bean Dataset,"Integer, Real",Classification,"Integer, Real",13611,17,Donated on 9/13/2020
4,Diabetes,"Categorical, Integer",-,"Categorical, Integer",-,20,-
5,Rice (Cammeo and Osmancik),Real,Classification,Real,3810,8,Donated on 10/5/2019
6,Wine,"Integer, Real",Classification,"Integer, Real",178,13,Donated on 6/30/1991
7,Car Evaluation,Categorical,Classification,Categorical,1728,6,Donated on 5/31/1997
8,Breast Cancer Wisconsin (Diagnostic),Real,Classification,Real,569,30,Donated on 10/31/199
9,Mushroom,Categorical,Classification,Categorical,8124,22,Donated on 4/26/1987

9. Scrape the details of Data science recruiters Url = https://www.naukri.com/hr-recruiters-consultants
You have to find the following details: 
A) Name
B) Designation
C)Company 
D)Skills they hire for 
E) Location
Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and 
click on search. All this should be done through code

In [19]:
# connecting to the web driver
driver=webdriver.Chrome(r"chromedriver.exe")

# getting the webpage of mentioned url
url = ("https://www.naukri.com/hr-recruiters-consultants")
driver.get(url)
time.sleep(3)

In [20]:
driver.maximize_window()

In [21]:
#clicking on view more option
view_more=driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div[1]/div/section[2]/div[2]/div[1]/div[2]/a/span").click()

In [22]:
#clicking on department filter
dept=driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div[1]/div/section[2]/div[2]/div[1]/div[3]/div[2]/div[1]/input")
dept.send_keys("data science")

In [23]:
#clicking on datascience checkbox
datasc=driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div[1]/div/section[2]/div[2]/div[1]/div[3]/div[2]/div[2]/div/div/div/label/p/span[1]").click()

In [24]:
#clicking on apply button
apply=driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div[1]/div/section[2]/div[2]/div[1]/div[3]/div[2]/div[3]/div[2]").click()

In [25]:
#unchecking hr default button
hr=driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/div/section[1]/div[2]/div[1]/div[2]/div[2]/label/p/span[1]").click()

In [28]:
# creating empty lists
Name = []
Designation = []
Company = []
Skills = []
Location = []

# scraping data of Names
for i in driver.find_elements(By.XPATH,"//a[@class='subTitle ellipsis fleft']"):
    Name.append(i.text)
time.sleep(3)


# scraping data of Designation
for i in driver.find_elements(By.XPATH,"//a[@class='title ellipsis']"):
    Designation.append(i.text)
time.sleep(3)


# scraping data of Company Name
for i in driver.find_elements(By.XPATH,"//a[@class='subTitle ellipsis fleft']"):
    Company.append(i.text)
time.sleep(3)


# scraping data of Skills
for i in driver.find_elements(By.XPATH,"//ul[@class='tags has-description']"):
    try:
        if i.text == "Not Specified": raise NoSuchElementException
        Skills.append(i.text)
    except NoSuchElementException:
        Skills.append('-')
time.sleep(3)


# scraping data of Location
for i in driver.find_elements(By.XPATH,"//li[@class='fleft br2 placeHolderLi location']"):
    try:
        if i.text == "Not Specified": raise NoSuchElementException
        Location.append(i.text)
    except NoSuchElementException:
        Location.append('-')
time.sleep(3)


# creating dataframe for scraped data
Naukri = pd.DataFrame({})
Naukri['Name'] = Name[:49]
Naukri['Designation'] = Designation[:49]
Naukri['Company'] = Company[:49]
Naukri['Skills'] = Skills[:49]
Naukri['Location'] = Location[:49]
Naukri

,Name,Designation,Company,Skills,Location
0,Cargill,FSQR Analytics and Reporting Analyst,Cargill,Performance\nReporting\nData Reporting\nReport...,"Mumbai, New Delhi, Pune, Bangalore/Bengaluru"
1,Perfect Placer,Business Analyst - Manufacturing Firm,Perfect Placer,Business Analysis\nReporting\nReport preparati...,"Kolkata, Mumbai, Visakhapatnam, Hyderabad/Secu..."
2,IQVIA,Senior Statistical Programmer,IQVIA,Adam\nSafety tables\nstatistical programming\n...,"Hybrid - Kochi/Cochin, Hyderabad/Secunderabad,..."
3,Infogain,Immediate Opening For Azure Architect (Data En...,Infogain,Azure Data Factory\nAzure\nData Bricks\nSQL\nP...,"Hybrid - Noida, Pune, Bangalore/Bengaluru, Mum..."
4,Hexaware Technologies,Matillion and Snowflake Developer with Hexawar...,Hexaware Technologies,Matillion\nSnowflake\nDevelopment\nAWS,"Hybrid - Pune, Maharashtra, Chennai, Bangalore..."
5,Genpact,"Urgent Hiring Qlik Sense Developer, Bangalore ...",Genpact,front end\ndata modeling\nQlik Sense Developme...,"Kolkata, Hyderabad/Secunderabad, Pune, Ahmedab..."
6,Accenture,Analystics & Modeling Specialist,Accenture,Bfsi\nConsulting\nMachine learning\nOpen sourc...,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,..."
7,Accenture,ACN - Applied Intelligence - Finance - Data Sc...,Accenture,Data Science\nApplied Intelligence\nData proce...,"Hyderabad/Secunderabad, Pune, Chennai, Gurgaon..."
8,Accenture,ACN - Applied Intelligence - Finance - Data Sc...,Accenture,Analytics\nCoding\nOpen source\nPython\nJenkin...,"Hyderabad/Secunderabad, Pune, Chennai, Gurgaon..."
9,Tech Mahindra,Data Analyst,Tech Mahindra,Power Bi\nAzure Functions\nSQL\nData analysis\...,"Hybrid - Hyderabad/ Secunderabad, Telangana, P..."
10,Cognizant,Data Engineer,Cognizant,Hive\ndata modeling\nHadoop\nHBase\nData Engin...,"Hyderabad/Secunderabad, Pune, Chennai, Bangalo..."
11,Fractal Analytics,Senior Data Scientist,Fractal Analytics,Senior\nSupply chain\nAnalytical\nAnalytics\nS...,"Mumbai, Bangalore/Bengaluru"
12,Broadridge,Business Analyst,Broadridge,Performance tuning\nSQL\nPerformance\nBusiness...,"Hyderabad/Secunderabad, Bangalore/Bengaluru"
13,AMERICAN EXPRESS GLOBAL BUSINESS TRAVEL,Senior Data Scientist,AMERICAN EXPRESS GLOBAL BUSINESS TRAVEL,GCP\nData Science\nDeep Learning\nData\nMachin...,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder..."
14,AMERICAN EXPRESS GLOBAL BUSINESS TRAVEL,Business Systems Analyst,AMERICAN EXPRESS GLOBAL BUSINESS TRAVEL,System\nCustomer service\nSubject\nRecruitment...,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder..."
15,Randstad India,AI ML Engineer For Bangalore Location,Randstad India,AWS\nMachine Learning\nPython\nMl\nPytorch\nAl...,"Hybrid - Pune, Maharashtra"
16,HCLTech,SQL Developer - Tibco Data Virtualization,HCLTech,Data Transformation\nIndex Optimization\nSQL Q...,"Noida, Hyderabad/Secunderabad, Pune, Chennai, ..."
17,Wipro,Data Analytics Architect-IBM MDM,Wipro,ibm mdm\noracle\nsoap web services\ndbms\nRAD\...,"Hyderabad/ Secunderabad, Telangana, Pune, Maha..."
18,Siemens,Lead Data Engineer,Siemens,Data Engineering\nTechnology\nNoSQL\nData mode...,Bangalore/Bengaluru
19,Pricewaterhouse Coopers Service Delivery Cente...,Data Analyst_SSIS_SSRS_SQL_Senior Associate_BL...,Pricewaterhouse Coopers Service Delivery Cente...,ssrs\njson\nbusiness analysis\nssis\nsql\nPyth...,"Hybrid - Kolkata, Hyderabad/Secunderabad, Bang..."